
/* new styles to upload photo button */
.upload-container {
    text-align: left;
    margin-top: 20px;
}

.upload-btn-new {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

.file-input-new {
    display: none;
}

.selected-files-new {
    margin-top: 10px;
}